

# ignore all .dcu files

*.dcu

# ignore all .exe files

*.exe

# ignore all .zip files

*.zip

# ignore all .txt files
*.txt

# ignore sendgrid key fle

*.email

# ignore all .ini files

*.ini

# ignore uDMConectDB

uDMConectDB.dfm
