USE [master]
GO
/****** Object:  Database [FLOORDB]    Script Date: 11/27/2023 6:20:06 AM ******/
CREATE DATABASE [FLOORDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FLOORDB', FILENAME = N'/cloudclusters/mssql/data/FLOORDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FLOORDB_log', FILENAME = N'/cloudclusters/mssql/data/FLOORDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FLOORDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FLOORDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_ATUALIZA_TBKEY]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATUALIZA_TBKEY]
AS

INSERT INTO [DBO].[TBKEYS] (TABLENAME, VALUE ) 
SELECT O.NAME, 0 FROM SYS.ALL_OBJECTS O
LEFT OUTER JOIN [DBO].[TBKEYS] K ON K.TABLENAME = O.NAME
 WHERE TYPE_DESC = 'USER_TABLE' AND SCHEMA_ID = 1
 AND K.TABLENAME IS NULL



GO
/****** Object:  StoredProcedure [dbo].[SP_VENDOR_PRICINGTABLE]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[SP_VENDOR_PRICINGTABLE] (@ID_CONTRACTOR INTEGER)







AS



(



    SELECT  PL.ID_PRICELIST, PL.NAME, PL.EXPIREDDATE, PL.ACTIVE



   FROM [DBO].[TBVENDOR_PRICINGTABLE] PT



   INNER JOIN TBPRICELIST PL ON PL.ID_PRICELIST = PT.ID_PRICELIST



   WHERE  PT.ID_CONTRACTORS = @ID_CONTRACTOR 



)


GO
/****** Object:  Table [dbo].[TBADDRESS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBADDRESS](
	[ID_ADDRESS] [int] NOT NULL,
	[ID_CUSTOMER] [int] NULL,
	[ID_SUPPLIER] [int] NULL,
	[ADDRESS1] [varchar](400) NULL,
	[ZIPCODE] [varchar](10) NULL,
	[COUNTRY] [varchar](30) NULL,
	[STATEE] [varchar](2) NULL,
	[CITY] [varchar](50) NULL,
	[ID_USER] [int] NULL,
	[add_date] [datetime] NULL,
	[upd_date] [datetime] NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[TBADDRESS] ADD [COUNTY] [varchar](80) NULL
PRIMARY KEY CLUSTERED 
(
	[ID_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCOMPANY]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCOMPANY](
	[ID_COMPANY] [int] NOT NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[TAX_ID] [varchar](20) NULL,
	[COMPANYNAME] [varchar](100) NULL,
	[TRADINGNAME] [varchar](50) NULL,
	[COMPANYOWNER] [varchar](100) NULL,
	[PHONENUMBER] [varchar](15) NULL,
	[EMAIL] [varchar](100) NULL,
	[ADDRESS1] [varchar](100) NULL,
	[COUNTRY] [varchar](30) NULL,
	[ST] [varchar](2) NULL,
	[CITY] [varchar](40) NULL,
	[ZIPCODE] [varchar](10) NULL,
	[ID_USER] [int] NULL,
	[ESTIMATEDAYS] [int] NULL,
	[TAX] [numeric](15, 2) NULL,
	[IMAGEM] [varbinary](max) NULL,
	[COUNTY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_COMPANY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCONTACT]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCONTACT](
	[ID_CONTACT] [int] NOT NULL,
	[ID_ADDRESS] [int] NOT NULL,
	[ID_CUSTOMER] [int] NULL,
	[ID_SUPPLIER] [int] NULL,
	[NAME] [varchar](60) NULL,
	[POSITION] [varchar](50) NULL,
	[EMAIL] [varchar](100) NULL,
	[PHONE1] [varchar](15) NULL,
	[PHONE2] [varchar](15) NULL,
	[ID_USER] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
 CONSTRAINT [PK_ID_CONTACT_ID_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID_CONTACT] ASC,
	[ID_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCONTRACTORS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCONTRACTORS](
	[ID_CONTRACTORS] [int] NOT NULL,
	[ID_MAIN_USER] [int] NULL,
	[NAME] [varchar](50) NULL,
	[ID_POSITION] [int] NULL,
	[PHONE] [varchar](12) NULL,
	[EMAIL] [varchar](100) NULL,
	[DRIVER_LICENSE] [varchar](20) NULL,
	[ADD_DATE] [date] NULL,
	[UPD_DATE] [date] NULL,
	[ID_USER] [int] NULL,
	[COMISSION] [numeric](15, 2) NULL,
	[ID_COMPANY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONTRACTORS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCREDITORS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCREDITORS](
	[ID_CREDITORS] [int] NULL,
	[ID_SUPPLIER] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[ID_USER] [int] NULL,
	[INVOICE_NUMBER] [varchar](20) NULL,
	[INVOICE_DATE] [date] NULL,
	[TERMS] [varchar](10) NULL,
	[TOTAL_SQ_YARDS] [float] NULL,
	[MERCHANDISE] [numeric](15, 2) NULL,
	[FREIGHT] [numeric](15, 2) NULL,
	[OTHER_TAX] [numeric](15, 2) NULL,
	[INVOICE_TOTAL] [numeric](15, 2) NULL,
	[DUE_DATE] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCREDITORS_PRODUCT]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCREDITORS_PRODUCT](
	[ID_INVOICEPRODUCT] [int] NOT NULL,
	[ID_SUPPLIER] [int] NULL,
	[ID_CREDITORS] [int] NULL,
	[INVOICE_NUMBER] [varchar](20) NULL,
	[SKU] [varchar](20) NULL,
	[ID_USER] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INVOICEPRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBCUSTOMER]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBCUSTOMER](
	[ID_CUSTOMER] [int] NOT NULL,
	[LAST_NAME] [varchar](50) NULL,
	[MIDDLE_NAME] [varchar](30) NULL,
	[FIRST_NAME] [varchar](30) NULL,
	[EMAIL] [varchar](100) NULL,
	[PHONE1] [varchar](15) NULL,
	[PHONE2] [varchar](15) NULL,
	[ID_USER] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[ADDITION_INFORMATION] [varchar](400) NULL,
	[ID_COMPANY] [int] NULL,
	[ID_CONTRACTORS] [int] NULL,
	[FOLDER] [varchar](100) NULL,
	[TYPEPERSON] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBIMAGE]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBIMAGE](
	[ID_IMAGE] [int] IDENTITY(1,1) NOT NULL,
	[iD_PRODUCT] [int] NULL,
	[Imagem] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IMAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBINVENTORY]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBINVENTORY](
	[ID_INVENTORY] [int] IDENTITY(1,1) NOT NULL,
	[ID_SUPPLIER] [int] NULL,
	[ID_PRODUCT] [int] NULL,
	[QTY] [float] NULL,
	[WIDTH] [float] NULL,
	[HEIGHT] [float] NULL,
	[TOTALAREA] [float] NULL,
	[PRICE] [numeric](15, 2) NULL,
	[TOTALPRICE] [numeric](15, 2) NULL,
	[DT_MOVIMENT] [datetime] NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INVENTORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBKEYS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBKEYS](
	[ID_TBKEYS] [int] IDENTITY(1,1) NOT NULL,
	[TABLENAME] [varchar](30) NULL,
	[VALUE] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TBKEYS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBMENU]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBMENU](
	[ID_MENU] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[Menus] [varchar](50) NULL,
	[Groups] [varchar](50) NULL,
	[Screens] [varchar](50) NULL,
	[Actions] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBMESSAGE]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBMESSAGE](
	[ID_TBMESSAGE] [int] IDENTITY(1,1) NOT NULL,
	[ID_LANGUAGE] [int] NULL,
	[DESCRIPTION_TYPE] [varchar](400) NULL,
	[DESCRIPTION_MESSAGE] [varchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TBMESSAGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBMISCELLANEOUS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBMISCELLANEOUS](
	[ID_MISCELLANEOUS] [int] IDENTITY(1,1) NOT NULL,
	[VALUE] [varchar](20) NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[ADD_DATE] [date] NULL,
	[UPD_DATE] [date] NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MISCELLANEOUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBPARAMETERS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBPARAMETERS](
	[ID_PARAMETERES] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION_VALUE] [varchar](10) NULL,
	[DESCRIPTION_CONTENT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PARAMETERES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBPOSITION]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBPOSITION](
	[ID_POSITION] [int] NOT NULL,
	[NAME] [varchar](80) NULL,
	[ADD_DATE] [date] NULL,
	[UPD_DATE] [date] NULL,
	[ID_USER] [int] NULL,
	[PRICINGTABLEVIEW] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_POSITION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBPOSITION_ACCESS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPOSITION_ACCESS](
	[ID_POSITION_ACCESS] [int] IDENTITY(1,1) NOT NULL,
	[ID_POSITION] [int] NULL,
	[ID_MENU] [int] NULL,
	[ADD_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_POSITION_ACCESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNQ_TBPOSITION_ACCESS_MENU] UNIQUE NONCLUSTERED 
(
	[ID_POSITION] ASC,
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPRICEITEM]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPRICEITEM](
	[ID_PRICEITEM] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRICELIST] [int] NULL,
	[ID_SUPPLIER] [int] NULL,
	[ID_PRODUCT] [int] NULL,
	[PRICE_MINIMUM] [numeric](15, 2) NULL,
	[PRICE_FINAL] [numeric](15, 2) NULL,
	[ADD_DATE] [date] NULL,
	[UPD_DATE] [date] NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRICEITEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPRICELIST]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBPRICELIST](
	[ID_PRICELIST] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMPANY] [int] NULL,
	[ID_LOCATION] [int] NULL,
	[NAME] [varchar](50) NULL,
	[STARTDATE] [date] NULL,
	[EXPIREDDATE] [date] NULL,
	[ADD_DATE] [date] NULL,
	[UPD_DATE] [date] NULL,
	[ID_USER] [int] NULL,
	[ACTIVE] [char](1) NULL,
	[DISCOUNT] [numeric](15, 2) NULL,
	[COMISSION] [numeric](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRICELIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBPROCESS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBPROCESS](
	[ID_PROCESS] [int] NOT NULL,
	[TABLENAME] [varchar](30) NOT NULL,
	[ID_COMPANY] [int] NULL,
	[DT_PROCESS] [date] NULL,
	[DT_PROCESS_VALID] [date] NULL,
	[ID_CONTRACTORS] [int] NULL,
	[CUSTOMER_NAME] [varchar](100) NULL,
	[CUSTOMER_PHONE] [varchar](20) NULL,
	[CUSTOMER_EMAIL] [varchar](100) NULL,
	[ADDRESS1] [varchar](100) NULL,
	[ZIPCODE] [varchar](10) NULL,
	[ST] [varchar](2) NULL,
	[CITY] [varchar](50) NULL,
	[COUNTY] [varchar](50) NULL,
	[PONUMBER] [varchar](50) NULL,
	[COMMENTS] [varchar](4000) NULL,
	[SUBTOTAL] [numeric](15, 2) NULL,
	[PERCENT_DISCOUNT] [numeric](15, 2) NULL,
	[DISCOUNT] [numeric](15, 2) NULL,
	[TAX] [numeric](15, 2) NULL,
	[SHIPPING] [numeric](15, 2) NULL,
	[TOTAL] [numeric](15, 2) NULL,
	[ID_USER] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[ID_CUSTOMER] [int] NULL,
	[ID_ORIGEN] [int] NULL,
	[STATUS] [varchar](10) NULL,
	[DT_SHIPPING] [datetime] NULL,
	[DT_COMPLETED] [datetime] NULL,
 CONSTRAINT [PK_ID_TABLENAME_ID_PROCESS] PRIMARY KEY CLUSTERED 
(
	[TABLENAME] ASC,
	[ID_PROCESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBPROCESS_ITEM]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBPROCESS_ITEM](
	[ID_PROCESS_ITEM] [int] NOT NULL,
	[TABLENAME] [varchar](30) NOT NULL,
	[ID_PROCESS] [int] NOT NULL,
	[ID_PRICELIST] [int] NULL,
	[ID_PRODUCT] [int] NULL,
	[ROOM] [varchar](max) NULL,
	[QTY] [numeric](15, 2) NULL,
	[RATE] [numeric](15, 2) NULL,
	[AMOUT] [numeric](15, 2) NULL,
	[ID_USER] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[WIDTH] [float] NULL,
	[HEIGHT] [float] NULL,
	[TOTALAREA] [float] NULL,
	[REQ_PURCHASE_ORDER] [char](1) NULL,
	[DIF_TOTALAREA] [float] NULL,
 CONSTRAINT [KEY_ID_COMPOSTO_ITEM] PRIMARY KEY CLUSTERED 
(
	[ID_PROCESS_ITEM] ASC,
	[TABLENAME] ASC,
	[ID_PROCESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBPRODUCT]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBPRODUCT](
	[ID_PRODUCT] [int] NOT NULL,
	[ID_SUPPLIER] [int] NULL,
	[SUPPLIER_ITEM] [varchar](30) NULL,
	[SKU] [varchar](20) NULL,
	[STYLE] [varchar](50) NULL,
	[PRODUCT_STYLE] [varchar](30) NULL,
	[PRODUCT_STYLE_NAME] [varchar](50) NULL,
	[COLOR] [varchar](30) NULL,
	[COLOR_NAME] [varchar](50) NULL,
	[PRODUCT_NAME] [varchar](500) NULL,
	[QTY] [float] NULL,
	[COST_VALUE] [numeric](15, 2) NULL,
	[CostValuePerFeet] [float] NULL,
	[AreaSquareFeetPerBox] [float] NULL,
	[TotalAreaSquareFeet] [float] NULL,
	[AreaSquareYardPerBox] [float] NULL,
	[TotalAreaSquareYard] [float] NULL,
	[rollnumber] [varchar](40) NULL,
	[rollnumberdialog] [varchar](40) NULL,
	[LOC_SECTION] [varchar](10) NULL,
	[LOC_POSITION] [varchar](10) NULL,
	[ID_USER] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[TAXBLE] [char](1) NULL,
	[TYPEOFPRODUCT] [varchar](7) NULL,
	[ID_TYPE] [int] NULL,
	[ACTIVE] [char](1) NULL,
	[WIDTH] [float] NULL,
	[HEIGHT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBREQUESTORDER]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBREQUESTORDER](
	[id_requestorder] [int] IDENTITY(1,1) NOT NULL,
	[id_company] [int] NULL,
	[id_contractor] [int] NULL,
	[req_date] [datetime] NULL,
	[tablename] [varchar](30) NULL,
	[id_process] [int] NULL,
	[id_user] [int] NULL,
	[id_supplier] [int] NULL,
	[id_product] [int] NULL,
	[countneed] [float] NULL,
	[estimatedcost] [numeric](15, 2) NULL,
	[date_ordered] [datetime] NULL,
	[add_date] [datetime] NULL,
	[upd_date] [datetime] NULL,
	[status] [varchar](30) NULL,
	[quantitypurchased] [float] NULL,
	[value_paid] [numeric](15, 2) NULL,
	[ID_PROCESS_ITEM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_requestorder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBSERVICE]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBSERVICE](
	[ID_SERVICE] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROCESS] [int] NULL,
	[ID_CONTRACTORS] [int] NULL,
	[DT_SERVICE] [datetime] NULL,
	[DT_FINISH] [datetime] NULL,
	[SIDEMARK] [varchar](40) NULL,
	[STATUS] [varchar](10) NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SERVICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBSERVICE_FOLLOWUP]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBSERVICE_FOLLOWUP](
	[ID_SERVICE_FOLLOWUP] [int] IDENTITY(1,1) NOT NULL,
	[ID_SERVICE] [int] NULL,
	[COMMENTS] [varchar](max) NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SERVICE_FOLLOWUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBSUPPLIER]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBSUPPLIER](
	[ID_SUPPLIER] [int] NOT NULL,
	[NAMEBUSINESS] [varchar](100) NULL,
	[TRADININGNAME] [varchar](50) NULL,
	[COUNTRY] [varchar](30) NULL,
	[STATEE] [varchar](2) NULL,
	[ADDRESS1] [varchar](400) NULL,
	[ADDRESS2] [varchar](400) NULL,
	[PHONENUMBER] [varchar](15) NULL,
	[ZIPCODE] [varchar](10) NULL,
	[INDUSTRY] [varchar](50) NULL,
	[PRODUCT_SERVICE] [varchar](400) NULL,
	[CONTACTNAME1] [varchar](50) NULL,
	[CONTACTEMAIL1] [varchar](100) NULL,
	[CONTACTPOSITION1] [varchar](50) NULL,
	[CONTACTPHONENUMBER1] [varchar](15) NULL,
	[CONTACTNAME2] [varchar](50) NULL,
	[CONTACTEMAIL2] [varchar](100) NULL,
	[CONTACTPOSITION2] [varchar](50) NULL,
	[CONTACTPHONENUMBER2] [varchar](15) NULL,
	[WEBSITE] [varchar](100) NULL,
	[ADDITIONINFO] [varchar](4000) NULL,
	[ID_USER] [int] NULL,
	[city] [varchar](50) NULL,
	[add_date] [datetime] NULL,
	[upd_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SUPPLIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBTERMS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBTERMS](
	[ID_TERMS] [int] IDENTITY(1,1) NOT NULL,
	[TABLENAME] [varchar](30) NULL,
	[ID_PROCESS] [int] NULL,
	[DT_PROCESS] [date] NULL,
	[NUM_DAYS] [int] NULL,
	[DATE_DUE] [date] NULL,
	[VALUE] [numeric](12, 2) NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TERMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBTYPEBRAND]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBTYPEBRAND](
	[ID_TYPEBRAND] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY] [varchar](15) NULL,
	[DESCRIPTION] [varchar](50) NULL,
	[ADD_DATE] [date] NULL,
	[UPD_DATE] [date] NULL,
	[ID_USER] [int] NULL,
	[PROFIT_MIN] [float] NULL,
	[PROFIT_REGULAR] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TYPEBRAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBUSER]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBUSER](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[LASTNAME] [varchar](20) NULL,
	[MIDDLE_NAME] [varchar](20) NULL,
	[FIRST_NAME] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[PWD] [varchar](10) NULL,
	[COMPUTERNAME] [varchar](20) NULL,
	[PHONE_NUMBER] [varchar](15) NULL,
	[ACTIVE] [char](1) NULL,
	[CREATE_DATE] [datetime] NULL,
	[ID_USERPAI] [int] NULL,
	[ID_POSITION] [int] NULL,
	[ID_COMPANY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBUSER_COMPANY]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUSER_COMPANY](
	[ID_USER_COMPANY] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NULL,
	[ID_COMPANY] [int] NULL,
	[ADD_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER_COMPANY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNQ_TBUSER_COMPANY] UNIQUE NONCLUSTERED 
(
	[ID_USER] ASC,
	[ID_COMPANY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBUSER_SPECIAL_PER]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUSER_SPECIAL_PER](
	[ID_USER_SPECIAL_PER] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NULL,
	[ID_MENU] [int] NULL,
	[ADD_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER_SPECIAL_PER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBUSERACCESS]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUSERACCESS](
	[ID_USERACCESS] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NULL,
	[ID_MENU] [int] NULL,
	[ADD_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USERACCESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBVENDOR_PRICINGTABLE]    Script Date: 11/27/2023 6:20:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBVENDOR_PRICINGTABLE](
	[ID_VENDOR_PRICINGTABLE] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRICELIST] [int] NULL,
	[ID_CONTRACTORS] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[UPD_DATE] [datetime] NULL,
	[ID_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_VENDOR_PRICINGTABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNQ_TBVENDOR_PRICINGTABLE_ID_PRICELIST_ID_CONTRACTORS] UNIQUE NONCLUSTERED 
(
	[ID_PRICELIST] ASC,
	[ID_CONTRACTORS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IDCOMPANY_Index]    Script Date: 11/27/2023 6:20:07 AM ******/
CREATE NONCLUSTERED INDEX [IDCOMPANY_Index] ON [dbo].[TBPROCESS]
(
	[ID_COMPANY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLENAME_Index]    Script Date: 11/27/2023 6:20:07 AM ******/
CREATE NONCLUSTERED INDEX [TABLENAME_Index] ON [dbo].[TBPROCESS]
(
	[TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [TABLENAME_Index]    Script Date: 11/27/2023 6:20:07 AM ******/
CREATE NONCLUSTERED INDEX [TABLENAME_Index] ON [dbo].[TBPROCESS_ITEM]
(
	[TABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBINVENTORY] ADD  DEFAULT (getdate()) FOR [DT_MOVIMENT]
GO
ALTER TABLE [dbo].[TBPOSITION] ADD  DEFAULT ('N') FOR [PRICINGTABLEVIEW]
GO
ALTER TABLE [dbo].[TBPOSITION_ACCESS] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
ALTER TABLE [dbo].[TBPRICELIST] ADD  DEFAULT ('Y') FOR [ACTIVE]
GO
ALTER TABLE [dbo].[TBPRICELIST] ADD  DEFAULT ((0)) FOR [COMISSION]
GO
ALTER TABLE [dbo].[TBPROCESS] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
ALTER TABLE [dbo].[TBPROCESS_ITEM] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
ALTER TABLE [dbo].[TBPROCESS_ITEM] ADD  DEFAULT ('N') FOR [REQ_PURCHASE_ORDER]
GO
ALTER TABLE [dbo].[TBPRODUCT] ADD  DEFAULT ('S') FOR [TAXBLE]
GO
ALTER TABLE [dbo].[TBPRODUCT] ADD  DEFAULT ('Y') FOR [ACTIVE]
GO
ALTER TABLE [dbo].[TBSERVICE] ADD  DEFAULT ('PENDING') FOR [STATUS]
GO
ALTER TABLE [dbo].[TBSERVICE] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
ALTER TABLE [dbo].[TBSERVICE_FOLLOWUP] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
ALTER TABLE [dbo].[TBUSER] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[TBUSER_COMPANY] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
ALTER TABLE [dbo].[TBUSER_SPECIAL_PER] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
ALTER TABLE [dbo].[TBUSERACCESS] ADD  DEFAULT (getdate()) FOR [ADD_DATE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 = ShowRoom, 2 = WareHouse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBPRICELIST', @level2type=N'COLUMN',@level2name=N'ID_LOCATION'
GO
USE [master]
GO
